{{ define "main" }}
  <main class="max-w-3xl mx-auto px-4 py-8">
    {{ range .Pages }}
    <article class="flex items-center text-lg py-2 justify-between border-b last:border-none">
      <h4 class="font-medium"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
      {{/* format date string to create an ISO 8601 string */}}
      {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
      <time datetime="{{ dateFormat $ISO_date .Date }}">
        {{ .Date | time.Format ":date_medium" }}
      </time>
    </article>
    {{ end }}
  </main>
{{ end }}
